body {
    font-family: 'Arial', san-serif;
    margin: 0;
    padding: 0;
    background-color: #purple;
}

.audio-section {
    text-align: center;
    margin-top: 50px;
}
.lyrics-section {
padding: 20px;
}
.lyrics-container {
    max-width: 600px;
    margin: auto;
    background-color: #FFCC33;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2,h3 {
     color: #333;/* Dark text Color*/
     }
li {
    margin-bottom: 15px;
    line-height:1.6;
    }
    audio {
    margin-top:20px;
    }
    img{
    border-radius:50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0. 1);
}